{% extends "base.html" %}
{% block content %}
<h1 class="text-2xl font-bold text-center mb-4 dark:text-gray-200">Подключение к Axxon Next</h1>
<form action="" method="post" novalidate>
    <div>
        {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.serverip.label(class_="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2")}}
            {{ form.serverip(class_="disable-on-loading shadow-sm rounded-md w-full px-3 py-2 border border-gray-300
            focus:outline-none
            focus:ring-indigo-500 focus:border-indigo-500") }}

            {% for error in form.serverip.errors %}
            <span class="block mt-2 text-sm text-red-500 ">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.username.label(class_="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2")}}
            {{ form.username(class_="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none
            focus:ring-indigo-500 focus:border-indigo-500") }}

            {% for error in form.username.errors %}
            <span class="mt-2 text-sm text-red-500 ">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.password.label(class_="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2")}}
            {{ form.password(class_="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none
            focus:ring-indigo-500 focus:border-indigo-500") }}

            {% for error in form.password.errors %}
            <span class="mt-2 text-sm text-red-500">[{{ error }}]</span>
            {% endfor %}

        </div>
        {{ form.login_submit(class_="disable-on-loading w-full flex justify-center py-2 px-4 border
        border-transparent rounded-md
        shadow-sm
        text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2
        focus:ring-offset-2 focus:ring-indigo-500") }}
    </div>
</form>
{% if not loaded %}
<div class="flex flex-row justify-center items-center">
    <div id="loading" class="loader"></div>
</div>
{% if result %}
<div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
    <p class="font-bold">Informational message</p>
    <p class="text-sm">{{ result }}</p>
</div>
{% endif %}
{% endif %}
{% endblock %}