{% extends "base.html" %}
{% block content %}
<h1 class="text-2xl font-bold text-center mb-4 dark:text-gray-200">Видео из файла</h1>
<div>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input class="mb-4"
                  type="file" name="file"></p>
        <p><input class="disable-on-loading w-full flex justify-center py-2 px-4 border
        border-transparent rounded-md
        shadow-sm
        text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2
        focus:ring-offset-2 focus:ring-indigo-500"
                  type="submit" value="Загрузить и применить детектор"></p>
    </form>
    {% for file in files %}
    <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
    {% endfor %}
    {% if message %}
    <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
        <p class="font-bold">Informational message</p>
        <p class="text-sm">{{ message }}</p>
    </div>
    {% endif %}
</div>

{% if play_video and not message %}
<h2 class="text-2xl font-bold text-center mb-4 dark:text-gray-200">{{ header }}</h2>
<div class="flex flex-row justify-center items-center">
    <div id="video-loading" class="loader"></div>
</div>
<div>
    <img id="video_feed" onload="loaded()" width=640 src="{{ url_for('video_feed') }}">
</div>
{% endif %}

{% endblock %}